<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand ml-4" href="/">NOAH Watches</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">Home</a>
      <a class="nav-item nav-link" href="/shop">Shop</a>
      <a class="nav-item nav-link active" href="/contact">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto mr-0 navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/cart" target="_blank">
        <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
      </a>
    
    </div>
  </div>
</nav>
<app-footer></app-footer>